.header {
    background-color: #000000;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 35px;
    width: auto;
    display: block;
}

.admin-login-container {
    max-width: 680px;
    margin: 0 auto;
    padding: 30px 20px;
}

.admin-login-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}

.admin-login-form {
    width: 100%;
}

.form-group {
    margin-bottom: 50px;
}

.form-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #000000;
}

.form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.form-input:focus {
    outline: none;
    border-color: #666;
}

.submit-button {
    width: 100%;
    height: 55px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #333;
}

.error-message {
    display: block;
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px;
}


@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .admin-login-container {
        max-width: 800px;
        padding: 40px 30px;
    }

    .admin-login-title {
        font-size: 32px;
        margin-bottom: 50px;
    }

    .form-group {
        margin-bottom: 60px;
    }

    .form-label {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .form-input {
        height: 45px;
        font-size: 18px;
        padding: 0 15px;
    }

    .submit-button {
        height: 55px;
        font-size: 18px;
    }

    .error-message {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .admin-login-container {
        max-width: 100%;
        padding: 30px 15px;
    }

    .admin-login-title {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .form-group {
        margin-bottom: 40px;
    }

    .form-label {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .form-input {
        height: 38px;
        font-size: 15px;
        padding: 0 10px;
    }

    .submit-button {
        height: 48px;
        font-size: 16px;
    }

    .error-message {
        font-size: 14px;
    }
}