.header {
    background-color: #000000;
    padding: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 35px;
    width: auto;
    display: block;
}