
.header {
    background-color: #000000;
    padding: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}

.logo img {
    height: 35px;
    width: auto;
    display: block;
}

.header .nav .nav-link {
    color: #FFFFFF;

}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    align-items: center;
}

.nav-item {
    margin: 0;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}



.logout-form {
    margin: 0;
    padding: 0;
}

.logout-button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}



body {
    background-color: #F0EFF2;
}

.text-red {
    line-height: 1.2 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.time-inputs {
    align-items: center !important;
}

.time-inputs .text-red {
    display: block !important;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header-container {
        max-width: 1400px;
        padding: 0 40px;
    }

    .nav-list {
        gap: 50px;
    }

    .logo img {
        height: 40px;
    }

}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .header {
        height: 60px;
    }

    .header-container {
        padding: 0 15px;
        max-width: 850px;
    }

    .logo img {
        height: 30px;
    }

    .nav-list {
        gap: 25px;
    }

    .nav-link,
    .logout-button {
        font-size: 14px;
    }
}