
.header {
    background-color: #000000;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 35px;
    width: auto;
    display: block;
}
.register-container {
    background-color: #ffffff;
    max-width: 680px;
    width: 100%;
    margin: 0px auto;
    padding: 30px 20px;
    box-sizing: border-box;
}

.register-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}

.register-form {
    width: 100%;
}

.form-group {
    margin-bottom: 30px;
}

.form-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 3px;
}

.form-input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    transition: border-color 0.3s;
}

.form-input:focus {
    outline: none;
    border-color: #666666;
}

.error-message {
    display: block;
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px;
}

.submit-button {
    width: 100%;
    height: 55px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
    transition: background-color 0.3s;
}



.login-link {
    text-align: center;
    margin-top: 25px;
}

.login-link a {
    color: #0073CC;
    text-decoration: none;
    font-size: 16px;
}

.login-link a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .register-container {
        max-width: 800px;
        padding: 40px 30px;
    }

    .register-title {
        font-size: 32px;
        margin-bottom: 50px;
    }

    .form-group {
        margin-bottom: 40px;
    }

    .form-input {
        padding: 14px 18px;
        font-size: 18px;
    }

    .submit-button {
        padding: 18px;
        font-size: 18px;
    }

    .login-link a {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .register-container {
        max-width: 90%;
        padding: 25px 15px;
    }

    .register-title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .form-input {
        padding: 10px 12px;
        font-size: 15px;
    }

    .submit-button {
        padding: 12px;
        font-size: 16px;
    }

    .login-link a {
        font-size: 15px;
    }
}